{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href='{% static "style.css" %}'>
    <script src="https://kit.fontawesome.com/0ceeca1f1f.js" crossorigin="anonymous"></script>
    <title>Monthly_expense</title>
    <style>
        :root{
            --primary-color:#000;
            --secondary-color: rgb(34,122,191);
        }

        .navbar1, .navbar2{
            z-index: 5;
        }

        form{
            width: 100%;
        }

        table {
            border-collapse: collapse;
            margin: 30px auto;
        }

        input{
            border:none;
            outline:none;
            width: 100%;
            padding: 5px;
        }

        th, td {
            border: 1px solid var(--secondary-color);
            text-align: left;
            height: 50px;
            width: 5vw;
        }

        th {
            background-color: #fff;
            padding: 5px;
        }

        th, .header-row {
            text-align: center;
        }

        .header-row th{
            background-color: var(--secondary-color);
            color: white;
            height: 50px;
            padding: 5px;
            font-size: 15px;
            border: 1px solid #fff;
        }
        #table_no{
            display:none;
        }

        

        /* tr:nth-child(odd){
            background-color: rgba(0,0,0,0.3);
            color: #fff;
            border: 1px solid #fff;
        }

        tr:nth-child(odd) input{
            background: transparent;
        } */
        .negative-balance {
            background-color: red;
            color: white;
            font-weight: bold;
        }
        .mtitle{
            display: flex;
            justify-content: space-between;
            align-items: center;
            font-size: 30px;
            font-weight: 600;
            color: var(--secondary-color);
            margin: 30px 10%;
        }
        .mtitle div:nth-child(1){
            text-align: center;
        }
        .mtitle div:nth-child(1) h4:nth-child(1){
            margin-bottom: 8px;
            font-size: 23px;
        }
        .mtitle .mbtn a button{
            height: 60px;
            padding: 10px;
            font-size: 20px;
            outline: 0;
            border: none;
            cursor: pointer;
            background-color: rgba(34,122,191,0.5);
            color: #fff;
            border-radius: 10px;
            transition: all 0.3s ease-in-out;
        }

        .mtitle .mbtn a button:hover{
            box-shadow: 0px 10px 10px var(--secondary-color);
        }

        button.btn{
            display: block;
            height: 50px;
            font-size: 20px;
            padding: 10px;
            margin: 30px auto;
            width: 150px;
            cursor: pointer;
            border: 0;
            outline: none;
            border-radius: 30px;
            background-color: #fff;
            color: var(--secondary-color);
            font-weight: 400;
            transition: 0.3s ease-in-out;
            position: relative;
            box-shadow: 6px 6px 1px -1px rgba(0, 0, 0, 0.15),
                        -6px -6px 10px -1px rgba(255, 255, 255, 0.7);  
            z-index: 3;      
      }

        button.btn:hover{
            color: #fff;
            box-shadow: 6px 6px 1px -1px rgba(72,68,163,0.2),
                        -6px -6px 10px -1px rgba(255, 255, 255, 0.7);
            z-index: 4;
        }
    
        button.btn:hover::before{
            content: '';
            height: 100%;
            position: absolute;
            width: 100%;
            left: 0px;
            top: 0px;
            background-color: var(--secondary-color);
            color: #fff;
            animation: btn 0.3s linear forwards;
            border-radius: 30px;
            opacity: 1;
            z-index: -2;
        }
    
        @keyframes btn{
            0%{
                width: 0%;
            }
            50%{
                width: 50%;
            }
            100%{
                width: 100%;
            }
        }

    </style>
</head>

<body>
    
    <div class="navbar1">
        <div class="title">
          <a href='{% url "homepage" %}' class="lo">
            <img src="{% static 'IITI_Logo.png' %}"class="logo">
            <h3>IIT Indore</h3>
          </a>
      </div>
          <div class="links">
              <ul>
                <li><a href="{% url "index" %}">New Project Deal</a></li>
                <li><a href="{% url "project_list" %}">Project Deals</a></li>
                <li><a href="{% url "login" %}"><i class="fa-solid fa-user"></i></a></li>
              </ul>
          </div>
      </div>
  
      <div class="navbar2">
          <div class="ham">
            <p><i class="fa-solid fa-bars"></i></p>
          </div>
          <div class="title">
            <a href='{% url "homepage" %}' class="lo">
              <img src="{% static 'IITI_Logo.png' %}" class="logo">
              <h3>IIT Indore</h3>
            </a>
        </div>
        </div>
        <div class="side-bar">
          <div id="close"><i class="fa-solid fa-xmark"></i></div>
          <ul>
            <li><a href="{% url "index" %}">New Project Deal</a></li>
            <li><a href="{% url "project_list" %}">Project Deals</a></li>
            <li><a href="{% url "login" %}"><i class="fa-solid fa-user"></i></a></li>
          </ul>
        </div>
        <div class="mtitle">
        <div>
         <h4>{{display.display_id}}</h4>   
         <h4>{{display.display_name}}</h4> 
        </div>
         <div class="mbtn">
         <a href="{% url 'mastersheet' project_id=fellowship_no  %}">
            <button type="button">Mastersheet</button>
        </a>
        </div>
        </div>

<div class="tables">
    <div class="table">

    {% for table_key, sum_data in tablesdata.items %}

    <table id="table_{{ table_key}}">
    <tr class="header-row">
        <th>S.No</th>
        <th>Budget Head</th>
        <th>Grant Amount</th>
        <th>Apr-{{ display.start_year|add:table_key|add:-1 }}</th>
        <th>May-{{ display.start_year|add:table_key|add:-1 }}</th>
        <th>Jun-{{ display.start_year|add:table_key|add:-1 }}</th>
        <th>Jul-{{ display.start_year|add:table_key|add:-1 }}</th>
        <th>Aug-{{ display.start_year|add:table_key|add:-1 }}</th>
        <th>Sep-{{ display.start_year|add:table_key|add:-1 }}</th>
        <th>Oct-{{ display.start_year|add:table_key|add:-1 }}</th>
        <th>Nov-{{ display.start_year|add:table_key|add:-1 }}</th>
        <th>Dec-{{ display.start_year|add:table_key|add:-1 }}</th>
        <th>Jan-{{ display.start_year|add:table_key|add:0 }}</th>
        <th>Feb-{{ display.start_year|add:table_key|add:0 }}</th>
        <th>Mar-{{ display.start_year|add:table_key|add:0 }}</th>
        <th>Total Expenses</th>
        <th>Closing Balances</th>
    </tr>
    <tr>
        <th>1</th>
        <th>Non Recurring</th>
        <td><input type='number' name='one_Grant_Amount' value="{{sum_data.one_Grant_Amount}}"></td>
        <td><input type='number' name='one_Apr' value="{{sum_data.one_Apr}}"></td>
        <td><input type='number' name='one_May' value="{{sum_data.one_May}}"></td>
        <td><input type='number' name='one_Jun' value="{{sum_data.one_Jun}}"></td>
        <td><input type='number' name='one_Jul' value="{{sum_data.one_Jul}}"></td>
        <td><input type='number' name='one_Aug' value="{{sum_data.one_Aug}}"></td>
        <td><input type='number' name='one_Sep' value="{{sum_data.one_Sep}}"></td>
        <td><input type='number' name='one_Oct' value="{{sum_data.one_Oct}}"></td>
        <td><input type='number' name='one_Nov' value="{{sum_data.one_Nov}}"></td>
        <td><input type='number' name='one_Dec' value="{{sum_data.one_Dec}}"></td>
        <td><input type='number' name='one_Jan' value="{{sum_data.one_Jan}}"></td>
        <td><input type='number' name='one_Feb' value="{{sum_data.one_Feb}}"></td>
        <td><input type='number' name='one_Mar' value="{{sum_data.one_Mar}}"></td>
        <td><input type='number' name='one_expenses' value={{sum_data.one_expenses}}></td>
        <td name='one_closing'>{{sum_data.one_closing}}</td>
        
    </tr>
    <tr>
        <th>2</th>
        <th>Manpower</th>
        <td><input type='number' name='two_Grant_Amount' value="{{sum_data.two_Grant_Amount}}"></td>
        <td><input type='number' name='two_Apr' value="{{sum_data.two_Apr}}"></td>
        <td><input type='number' name='two_May' value="{{sum_data.two_May}}"></td>
        <td><input type='number' name='two_Jun' value="{{sum_data.two_Jun}}"></td>
        <td><input type='number' name='two_Jul' value="{{sum_data.two_Jul}}"></td>
        <td><input type='number' name='two_Aug' value="{{sum_data.two_Aug}}"></td>
        <td><input type='number' name='two_Sep' value="{{sum_data.two_Sep}}"></td>
        <td><input type='number' name='two_Oct' value="{{sum_data.two_Oct}}"></td>
        <td><input type='number' name='two_Nov' value="{{sum_data.two_Nov}}"></td>
        <td><input type='number' name='two_Dec' value="{{sum_data.two_Dec}}"></td>
        <td><input type='number' name='two_Jan' value="{{sum_data.two_Jan}}"></td>
        <td><input type='number' name='two_Feb' value="{{sum_data.two_Feb}}"></td>
        <td><input type='number' name='two_Mar' value="{{sum_data.two_Mar}}"></td>
        <td><input type='number' name='two_expenses' value={{sum_data.two_expenses}}></td>
        <td name='two_closing'>{{sum_data.two_closing}}</td>
    </tr>
    <tr>
        <th>3</th>
        <th>Contingency</th>
        <td><input type='number' name='three_Grant_Amount' value={{sum_data.three_Grant_Amount}}></td>
        <td><input type='number' name='three_Apr' value={{sum_data.three_Apr}}></td>
        <td><input type='number' name='three_May' value={{sum_data.three_May}}></td>
        <td><input type='number' name='three_Jun' value={{sum_data.three_Jun}}></td>
        <td><input type='number' name='three_Jul' value={{sum_data.three_Jul}}></td>
        <td><input type='number' name='three_Aug' value={{sum_data.three_Aug}}></td>
        <td><input type='number' name='three_Sep' value={{sum_data.three_Sep}}></td>
        <td><input type='number' name='three_Oct' value={{sum_data.three_Oct}}></td>
        <td><input type='number' name='three_Nov' value={{sum_data.three_Nov}}></td>
        <td><input type='number' name='three_Dec' value={{sum_data.three_Dec}}></td>
        <td><input type='number' name='three_Jan' value={{sum_data.three_Jan}}></td>
        <td><input type='number' name='three_Feb' value={{sum_data.three_Feb}}></td>
        <td><input type='number' name='three_Mar' value={{sum_data.three_Mar}}></td>
        <td><input type='number' name='three_expenses' value={{sum_data.three_expenses}}></td>
        <td name='three_closing'>{{sum_data.three_closing}}</td>
    </tr>
    <tr>
        <th>4</th>
        <th>Consumables</th>
        <td><input type='number' name='four_Grant_Amount' value={{sum_data.four_Grant_Amount}}></td>
        <td><input type='number' name='four_Apr' value={{sum_data.four_Apr}}></td>
        <td><input type='number' name='four_May' value={{sum_data.four_May}}></td>
        <td><input type='number' name='four_Jun' value={{sum_data.four_Jun}}></td>
        <td><input type='number' name='four_Jul' value={{sum_data.four_Jul}}></td>
        <td><input type='number' name='four_Aug' value={{sum_data.four_Aug}}></td>
        <td><input type='number' name='four_Sep' value={{sum_data.four_Sep}}></td>
        <td><input type='number' name='four_Oct' value={{sum_data.four_Oct}}></td>
        <td><input type='number' name='four_Nov' value={{sum_data.four_Nov}}></td>
        <td><input type='number' name='four_Dec' value={{sum_data.four_Dec}}></td>
        <td><input type='number' name='four_Jan' value={{sum_data.four_Jan}}></td>
        <td><input type='number' name='four_Feb' value={{sum_data.four_Feb}}></td>
        <td><input type='number' name='four_Mar' value={{sum_data.four_Mar}}></td>
        <td><input type='number' name='four_expenses' value={{sum_data.four_expenses}}></td>
        <td name='four_closing' >{{sum_data.four_closing}}</td>
    </tr>
    <tr>
        <th>5</th>
        <th>Travel</th>
        <td><input type='number' name='five_Grant_Amount' value={{sum_data.five_Grant_Amount}}></td>
        <td><input type='number' name='five_Apr' value={{sum_data.five_Apr}}></td>
        <td><input type='number' name='five_May' value={{sum_data.five_May}}></td>
        <td><input type='number' name='five_Jun' value={{sum_data.five_Jun}}></td>
        <td><input type='number' name='five_Jul' value={{sum_data.five_Jul}}></td>
        <td><input type='number' name='five_Aug' value={{sum_data.five_Aug}}></td>
        <td><input type='number' name='five_Sep' value={{sum_data.five_Sep}}></td>
        <td><input type='number' name='five_Oct' value={{sum_data.five_Oct}}></td>
        <td><input type='number' name='five_Nov' value={{sum_data.five_Nov}}></td>
        <td><input type='number' name='five_Dec' value={{sum_data.five_Dec}}></td>
        <td><input type='number' name='five_Jan' value={{sum_data.five_Jan}}></td>
        <td><input type='number' name='five_Feb' value={{sum_data.five_Feb}}></td>
        <td><input type='number' name='five_Mar' value={{sum_data.five_Mar}}></td>
        <td><input type='number' name='five_expenses' value={{sum_data.five_expenses}}></td>
        <td name='five_closing'>{{sum_data.five_closing}}</td>
    </tr>
    <tr>
        <th>6</th>
        <th>Overhead</th>
        <td><input type='number' name='six_Grant_Amount' value={{sum_data.six_Grant_Amount}}></td>
        <td><input type='number' name='six_Apr' value={{sum_data.six_Apr}}></td>
        <td><input type='number' name='six_May' value={{sum_data.six_May}}></td>
        <td><input type='number' name='six_Jun' value={{sum_data.six_Jun}}></td>
        <td><input type='number' name='six_Jul' value={{sum_data.six_Jul}}></td>
        <td><input type='number' name='six_Aug' value={{sum_data.six_Aug}}></td>
        <td><input type='number' name='six_Sep' value={{sum_data.six_Sep}}></td>
        <td><input type='number' name='six_Oct' value={{sum_data.six_Oct}}></td>
        <td><input type='number' name='six_Nov' value={{sum_data.six_Nov}}></td>
        <td><input type='number' name='six_Dec' value={{sum_data.six_Dec}}></td>
        <td><input type='number' name='six_Jan' value={{sum_data.six_Jan}}></td>
        <td><input type='number' name='six_Feb' value={{sum_data.six_Feb}}></td>
        <td><input type='number' name='six_Mar' value={{sum_data.six_Mar}}></td>
        <td><input type='number' name='six_expenses' value={{sum_data.six_expenses}}></td>
        <td name='six_closing' >{{sum_data.six_closing}}</td>
    </tr>
    <tr>
        <th>7</th>
        <th>SSR</th>
        <td><input type='number' name='seven_Grant_Amount' value={{sum_data.seven_Grant_Amount}}></td>
        <td><input type='number' name='seven_Apr' value={{sum_data.seven_Apr}}></td>
        <td><input type='number' name='seven_May' value={{sum_data.seven_May}}></td>
        <td><input type='number' name='seven_Jun' value={{sum_data.seven_Jun}}></td>
        <td><input type='number' name='seven_Jul' value={{sum_data.seven_Jul}}></td>
        <td><input type='number' name='seven_Aug' value={{sum_data.seven_Aug}}></td>
        <td><input type='number' name='seven_Sep' value={{sum_data.seven_Sep}}></td>
        <td><input type='number' name='seven_Oct' value={{sum_data.seven_Oct}}></td>
        <td><input type='number' name='seven_Nov' value={{sum_data.seven_Nov}}></td>
        <td><input type='number' name='seven_Dec' value={{sum_data.seven_Dec}}></td>
        <td><input type='number' name='seven_Jan' value={{sum_data.seven_Jan}}></td>
        <td><input type='number' name='seven_Feb' value={{sum_data.seven_Feb}}></td>
        <td><input type='number' name='seven_Mar' value={{sum_data.seven_Mar}}></td>
        <td><input type='number' name='seven_expenses' value={{sum_data.seven_expenses}}></td>
        <td name='seven_closing'>{{sum_data.seven_closing}}</td>
    </tr>
    <tr name='total_amount'>
        <th>8</th>
        <th>Total Amount</th>
        <td name='total_grant'>{{sum_data.total_grant}}</td>
        <td name='total_Apr' >{{sum_data.total_Apr}}</td>
        <td name='total_May' >{{sum_data.total_May}}</td>
        <td name='total_Jun' >{{sum_data.total_Jun}}</td>
        <td name='total_Jul' >{{sum_data.total_Jul}}</td>
        <td name='total_Aug' >{{sum_data.total_Aug}}</td>
        <td name='total_Sep' >{{sum_data.total_Sep}}</td>
        <td name='total_Oct' >{{sum_data.total_Oct}}</td>
        <td name='total_Nov' >{{sum_data.total_Nov}}</td>
        <td name='total_Dec' >{{sum_data.total_Dec}}</td>
        <td name='total_Jan' >{{sum_data.total_Jan}}</td>
        <td name='total_Feb' >{{sum_data.total_Feb}}</td>
        <td name='total_Mar' >{{sum_data.total_Mar}}</td>
        <td><input type='number' name='total_expenses' value={{sum_data.total_expenses}}></td>
        <td name='total_balances_closing' value={{sum_data.total_closing_balances}}>{{sum_data.total_closing_balances}}</td>          
    </tr>
    
</table>
<button type='button' class="btn" onclick="updateTable('table_{{ table_key}}')">Update</button>

{% endfor %}
    </div>
</div>

<footer>
    <div class="footer">
      <div class="info">
        <h4>IIT Indore</h4>
      </div>
      <div class="social">
        <ul>
          <li><a href="#"><i class="fa-brands fa-instagram"></i></a></li>
          <li><a href="#"><i class="fa-brands fa-linkedin"></i></a></li>
          <li><a href="#"><i class="fa-brands fa-twitter"></i></a></li>
          <li><a href="#"><i class="fa-brands fa-facebook"></i></a></li>
        </ul>
      </div>
      <div class="rights">
        <p><i class="fa-solid fa-copyright"></i> Copyrights reserved.</p>
      </div>
    </div>
    
</footer>


<script src="{% static 'script.js' %}"></script>
<script >


    var parsed_data_str = {{ parsed_data_json|safe }};

    var tablesData = parsed_data_str;
    {% comment %} console.log(tablesData) {% endcomment %}

   // Initialize tablesData with 2D array of 0 values for each table ID
    document.addEventListener('DOMContentLoaded', function () {
        // initializeTableValues();
        const tableIds = document.querySelectorAll('table[id^="table_"]');
         //console.log(tableIds)
        tableIds.forEach(function (table) {
            const tableId = table.id;
            // tablesData[tableId] = initializeTableData(table);
            calculateAndDisplayTotalAmount(tableId);
            calculateAndDisplayTotalExpenses(tableId);
            calculateAndDisplayClosingBalance(tableId);
        });

        // Your existing DOMContentLoaded code (if any)
    });

    function initializeTableData(table) {
        const inputFields = table.querySelectorAll('input[type="number"]');
        const tableData = {};

        inputFields.forEach(function (input) {
            tableData[input.name] = 0;
        });

        return tableData;
    }

    function initializeTableValues() {
        const inputFields = document.querySelectorAll('input[type="number"]');
        inputFields.forEach(function (input) {
            input.value = 0;
        });
    }

    function updateTable(tableId) {
      //  console.log(tableId);
        const tableData = getTableData(tableId);
        tablesData[tableId] = tableData;

        // Implement the logic to update the table with the retrieved data
        calculateAndDisplayTotalAmount(tableId);
        calculateAndDisplayTotalExpenses(tableId);
        calculateAndDisplayClosingBalance(tableId);
        //console.log(tableId);
        //console.log(tablesData);
        //console.log(JSON.stringify(tableData));
        var fellowshipNo = "{{ fellowship_no }}";
        saveTableDataToDjango(tablesData,fellowshipNo);
    //    saveTableDataToDjango(tablesData,);
     //   alert(`Table ${tableId} updated: ${JSON.stringify(tableData)}`);
    }

    function getTableData(tableId) {
        const table = document.querySelector(`#${tableId}`);
        const inputFields = table.querySelectorAll('input[type="number"]');
        const tableData = {};

        inputFields.forEach(function (input) {
            tableData[input.name] = input.value;
        });

        return tableData;
    }
    function calculateAndDisplayTotalExpenses(tableId) {
        const table = document.querySelector(`#${tableId}`);
        const rows = table.querySelectorAll('tr:not(.header-row)');

        rows.forEach(function (row) {
            const inputFields = row.querySelectorAll('input[type="number"]');
            let totalExpenses = 0;

            inputFields.forEach(function (input) {
                if (input.name.endsWith('_Apr') || input.name.endsWith('_May') || input.name.endsWith('_Jun') ||
                    input.name.endsWith('_Jul') || input.name.endsWith('_Aug') || input.name.endsWith('_Sep') ||
                    input.name.endsWith('_Oct') || input.name.endsWith('_Nov') || input.name.endsWith('_Dec') ||
                    input.name.endsWith('_Jan') || input.name.endsWith('_Feb') || input.name.endsWith('_Mar')) {
                    totalExpenses += parseInt(input.value) || 0;
                }
            });

            row.querySelector('td input[name$="expenses"]').value = totalExpenses;
        });
    }
    function calculateAndDisplayClosingBalance(tableId) {
        const table = document.querySelector(`#${tableId}`);
        const rows = table.querySelectorAll('tr:not(.header-row)');
    
        rows.forEach(function (row) {
            // Skip the calculation for the "Total Amount" row
            // if (row.querySelector('th').textContent.trim() === 'Total Amount') {
            //     return;
            // }
    
            const grantAmount = parseInt(row.querySelector('input[name$="_Grant_Amount"]').value) || 0;
            const totalExpenses = parseInt(row.querySelector('td input[name$="expenses"]').value) || 0;
    
            // Use the correct name attribute for closing balance
            const closingBalanceElement = row.querySelector('td[name$="_closing"]');
            
            if (closingBalanceElement) {
                const closingBalance = grantAmount - totalExpenses;
                closingBalanceElement.textContent = closingBalance;
                if (closingBalance < 0) {
                    closingBalanceElement.classList.add('negative-balance');
                } else {
                    closingBalanceElement.classList.remove('negative-balance');
                }
            }
        });
    }
    function calculateAndDisplayTotalAmount(tableId) {
        const table = document.querySelector(`#${tableId}`);
        const headerRow = table.querySelector('.header-row');
        const totalAmountRow = table.querySelector('tr[name="total_amount"]');
        const totalAmountCells = totalAmountRow.querySelectorAll('td'); // Use 'td' instead of 'input'
        // console.log(table)
        // console.log(headerRow)
        // console.log(totalAmountRow)
        // console.log(totalAmountCells)
    
        totalAmountCells.forEach(function (totalAmountCell, index) {
            if(index==2){

                const grantAmountOne = parseInt(table.querySelector('input[name$="one_Grant_Amount"]').value) || 0;
                // const grantAmountTwo = parseInt(table.querySelector('input[name$="two_Grant_Amount"]').value) || 0;
                // const grantAmountThree = parseInt(table.querySelector('input[name$="three_Grant_Amount"]').textContent) || 0;
                // const grantAmountFour = parseInt(table.querySelector('input[name$="four_Grant_Amount"]').textContent) || 0;
                // const grantAmountFive = parseInt(table.querySelector('input[name$="five_Grant_Amount"]').textContent) || 0;
                // const grantAmountSix = parseInt(table.querySelector('input[name$="six_Grant_Amount"]').textContent) || 0;
                // const grantAmountSeven = parseInt(table.querySelector('input[name$="seven_Grant_Amount"]').textContent) || 0;
                const grantAmountTwo = parseInt(table.querySelector('input[name$="two_Grant_Amount"]').value) || 0;
                const grantAmountThree = parseInt(table.querySelector('input[name$="three_Grant_Amount"]').value) || 0;
                const grantAmountFour = parseInt(table.querySelector('input[name$="four_Grant_Amount"]').value) || 0;
                const grantAmountFive = parseInt(table.querySelector('input[name$="five_Grant_Amount"]').value) || 0;
                const grantAmountSix = parseInt(table.querySelector('input[name$="six_Grant_Amount"]').value) || 0;
                const grantAmountSeven = parseInt(table.querySelector('input[name$="seven_Grant_Amount"]').value) || 0;


                const totalGrantAmount = grantAmountOne + grantAmountTwo + grantAmountThree + grantAmountFour +grantAmountFive + grantAmountSix + grantAmountSeven;

    // Update the content of the Total Grant Amount cell
    const correspondingTotalAmountCell = totalAmountRow.querySelector(`td:nth-child(${index + 1})`);
    // console.log("hi")
    // console.log(totalGrantAmount)
   // console.log("hi")
    correspondingTotalAmountCell.innerHTML = `
                    <input type='number' name='total_Grant_Amount' value='${totalGrantAmount}' >
                `;
            }
           
            if (index > 2) {  // Exclude S.No and Budget Head columns
                let totalAmount = 0;
                let month;
                // Iterate through rows (excluding header and total amount rows)
                const rows = table.querySelectorAll('tr:not(.header-row):not([name="total_amount"])');
                // console.log(rows)
                rows.forEach(function (row) {
                  //  const inputField = row.querySelector(`input[name$="_${headerRow.cells[index].textContent.trim()}"]`);
                   month = convertToInputFieldName(headerRow.cells[index].textContent.trim());
                    const inputField = row.querySelector(`input[name*="_${convertToInputFieldName(headerRow.cells[index].textContent.trim())}"]`);
                    // console.log(inputField)
                    // console.log(headerRow.cells[index].textContent.trim())
                    // console.log(convertToInputFieldName(headerRow.cells[index].textContent.trim()))
                    if (inputField) {
                        totalAmount += parseInt(inputField.value) || 0;
                    }
                    // console.log(totalAmount)
                });
                // console.log("end")
                // console.log(totalAmountCell)
                const correspondingTotalAmountCell = totalAmountRow.querySelector(`td:nth-child(${index + 1})`);
                // console.log(correspondingTotalAmountCell)
                //totalAmountCell.textContent = totalAmount;
                if (correspondingTotalAmountCell) {
                // Update the content of the total amount cell
                correspondingTotalAmountCell.innerHTML = `
                    <input type='number' name='total_${month}' value='${totalAmount}'>
                `;
            }
            }
        });
    }
   
   
    function convertToInputFieldName(monthText) {
        // Add logic here to convert "Nov-2023" to "Nov"
        // You may need to adjust this based on your specific requirements
        const monthAbbreviation = monthText.split('-')[0];
        return monthAbbreviation;
    }
    
    
function saveTableDataToDjango(data, project_id) {
    //console.log(JSON.stringify(data));
    fetch(`/save_table_data/${project_id}/`, {
        method: 'POST',
        headers: {
            'Content-Type': 'application/json',
            'X-CSRFToken': getCookie('csrftoken')
        },
        body: JSON.stringify(data)
    })
    .then(response => response.json())
    .then(result => {
        //console.log(result);
        // Handle success or error as needed
    })
    .catch(error => {
        console.error('Error:', error);
    });
}
function getCookie(name) {
    let cookieValue = null;
    if (document.cookie && document.cookie !== '') {
        const cookies = document.cookie.split(';');
        for (let i = 0; i < cookies.length; i++) {
            const cookie = cookies[i].trim();
            // Check if the cookie name matches the desired name
            if (cookie.substring(0, name.length + 1) === (name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
            }
        }
    }
    return cookieValue;
}
</script>
</body>

</html>