<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="login.css">
    <script src="https://kit.fontawesome.com/0ceeca1f1f.js" crossorigin="anonymous"></script>
    <title>Login</title>
</head>
<body>
    <div class="navbar1">
        <div class="title">
            <a href="index.html" class="lo">
              <img src="IITI_Logo.png" class="logo">
              <h3>IIT Indore</h3>
            </a>
        </div>
        <div class="links">
            <ul>
                <li><a href="index.html">Home</a></li>
                <li><a href="explore.html">Explore</a></li>
                <li><a href="login.html" class="active">Login</a></li>
            </ul>
        </div>
    </div>

    <div class="navbar2">
        <div class="ham">
          <p><i class="fa-solid fa-bars"></i></p>
        </div>
        <div class="title">
            <a href="index.html" class="lo">
              <img src="IITI_Logo.png" class="logo">
              <h3>IIT Indore</h3>
            </a>
        </div>
      </div>
      <div class="side-bar">
        <div id="close"><i class="fa-solid fa-xmark"></i></div>
        <ul>
          <li><a href="index.html">Home</a></li>
          <li><a href="#explore">Explore</a></li>
          <li><a href="#about" class="active">Login</a></li>
        </ul>
      </div>

      <div class="container1">

        <section id="s2">
            <h3>New Here?</h3>
            <p>Sign Up with your Credentials.</p>
            <button class="btn" id="create">Create Account</button>
        </section>

        <section id="s1">
            <h2>LogIn</h2>
            <h5>Sign in to continue Access!</h5>
            <form id="signin">
                <div class="sipass">
                    <input type="text" placeholder="UserID" id="si-ID">
                </div>
                <div class="sipass">
                    <input type="password" placeholder="Password" id="si-password">
                    <span onclick="toggleShowSI();" class="si-span" id="si-show"><i class="fa-solid fa-eye-slash"></i></span>
                </div>
                <button type="submit" id="si-submit">Sign in</button>
            </form>
        </section>
        
    </div>

    <div class="container2">

        <section id="s22">
            <h3>Welcome Back!</h3>
            <p>Login To Access!</p>
            <button class="btn" id="log">Sign In</button>
        </section>

        <section id="s21">
            <h2>Create Account</h2>
            <h5>Enter Your Details!</h5>
            <form id="signup">
                <div class="supass">
                    <input type="text" placeholder="UserID" id="su-ID">
                </div>
                <div class="supass">
                    <input type="text" placeholder="Mobile-No" id="su-no">
                </div>
                <div class="supass">
                    <input type="password" placeholder="Password" id="su-password">
                    <span onclick="toggleShowSU();" class="su-span" id="su-show"><i class="fa-solid fa-eye-slash"></i></span>
                </div>
                <button type="submit" id="su-submit">Register</button>
            </form>
        </section>
        
    </div>

    <footer>
        <div class="footer">
          <div class="info">
            <h4>IIT Indore</h4>
          </div>
          <div class="social">
            <ul>
              <li><a href="#"><i class="fa-brands fa-instagram"></i></a></li>
              <li><a href="#"><i class="fa-brands fa-linkedin"></i></a></li>
              <li><a href="#"><i class="fa-brands fa-twitter"></i></a></li>
              <li><a href="#"><i class="fa-brands fa-facebook"></i></a></li>
            </ul>
          </div>
          <div class="rights">
            <p><i class="fa-solid fa-copyright"></i> Copyrights reserved.</p>
          </div>
        </div>
        
      </footer>

    <script src="script.js"></script>

    <script>

        var siShow = document.getElementById("si-show");
        var siPassword = document.getElementById("si-password");
        function toggleShowSI(){
           if(siPassword.type == "password"){
                siPassword.type = "text";
                siShow.innerHTML = "<i class='fa-solid fa-eye'></i>";
                siShow.classList.add("sh");
           }
           else{
                siPassword.type = "password";
                siShow.innerHTML = "<i class='fa-solid fa-eye-slash'></i>";
                siShow.classList.remove("sh");
           }
        }

        var suShow = document.getElementById("su-show");
        var suPassword = document.getElementById("su-password");
        function toggleShowSU(){
           if(suPassword.type == "password"){
                suPassword.type = "text";
                suShow.innerHTML = "<i class='fa-solid fa-eye'></i>";
                suShow.classList.add("sh");
           }
           else{
                suPassword.type = "password";
                suShow.innerHTML = "<i class='fa-solid fa-eye-slash'></i>";
                suShow.classList.remove("sh");
           }
        }


        var create = document.getElementById("create");
        var log = document.getElementById("log");
        var container1 = document.querySelector(".container1");
        var container2 = document.querySelector(".container2");
        var s1 = document.getElementById("s1");
        var s2 = document.getElementById("s2");
        var s21 = document.getElementById("s21");
        var s22 = document.getElementById("s22");
        create.addEventListener("click", ()=>{
            container1.style.display = "none";
            container2.style.display = "flex";
            s22.classList.add("right2");
            s21.classList.add("left2");
        })
        log.addEventListener("click", ()=>{
            container2.style.display = "none";
            container1.style.display = "flex";
            container1.classList.add("row-reverse");
            s2.classList.add("left1");
            s1.classList.add("right1");
        })
    </script>
    <script src="script.js"></script>
</body>
</html>