{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <script src="https://kit.fontawesome.com/0ceeca1f1f.js" crossorigin="anonymous"></script>

    <script src="https://html2canvas.hertzen.com/dist/html2canvas.min.js"></script>
    
    <script href="{% static 'jsPDF.js' %}"></script>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <title>Soe Copy</title>
    <style>
        :root{
            --primary-color:#000;
            --secondary-color: rgb(34,122,191);
        }

        table{
            border-collapse: collapse;
            width: 80%;
            margin: 20px;
        }

        th{
            background-color: var(--secondary-color);
            color: #fff;
            border: 1px solid #fff;
            text-align: left;
            padding: 8px;
        }

        td{
            border: 1px solid var(--secondary-color);
            text-align: left;
            padding: 8px;
        }

        table + table {
        margin-top: 20px;
        }

        .body{
            padding: 3%;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
        }

        h2{
            text-align: center;
            margin-top: 20px;
            position: relative;
        }

        h2::before{
            content: '';
            position: absolute;
            background-color: var(--secondary-color);
            height: 3px;
            bottom: -10px;
            width: 30%;
            left: 35%;
        }

        h3{
            text-align: center;
            font-size: 20px;
        }

        .note{
            line-height: 30px;
            font-size: 18px;
            text-align: left;
            padding: 0px 10%;
            margin-bottom: 0px;
        }

        .note p{
            font-size: 20px;
            color: var(--secondary-color);
            text-align: left;
        }

        .note ol li{
          font-size: 15px;
        }

        .mtitle{
            display: flex;
            justify-content: space-between;
            align-items: center;
            font-size: 30px;
            font-weight: 600;
            color: var(--secondary-color);
            margin: 30px 10%;
        }
        
        .mtitle .mbtn a button{
            height: 60px;
            width: 150px;
            padding: 10px;
            font-size: 20px;
            outline: 0;
            border: none;
            cursor: pointer;
            background-color: rgba(34,122,191,0.5);
            color: #fff;
            border-radius: 10px;
            transition: all 0.3s ease-in-out;border: 2px solid rgba(34,122,191,0.5);
            background-color: #fff;
            color: var(--secondary-color);
        }

        .mtitle .mbtn a button:hover{
            box-shadow: 0px 10px 10px var(--secondary-color);
        }

        .side-by-side{
            display: flex;
            align-items: center;
            justify-content: center;
            margin-bottom: 20px;
            padding-left: 150px;
          }

        .overflow{
          overflow-x: auto;
          width: 100%;
        }
    
        .side-by-side table{
              min-width: 40vw;
              margin-right: 0px;
              margin-left: 0px;
          }    
    
          .side-by-side table{
              border-collapse: collapse;
          }
    
          .side-by-side table tr th{
              font-size: 17px;
              font-weight: 400;
              border: 1px solid #fff;
              background-color: var(--secondary-color);
              color: #fff;  
              text-align: center;
          }
          
          .side-by-side table tr td{
              padding: 10px;
              font-size: 17px;
              text-align: center;
              border: 1px solid var(--secondary-color);
          }
          
          {% comment %} .side-by-side table tr th, .side-by-side table tr td{
             width: 7vw;
          } {% endcomment %}
          
          input[type="date"] {
            border: none;
            /* Optional: Additional styling */
            background-color: transparent;
            color: #333; /* Text color */
            font-size: 16px;
            padding: 5px;
            outline: none; /* Remove outline */
        }
        input[type='number'] {
          border: none; /* Remove border */
      }
      input[type='number']::-webkit-inner-spin-button,
    input[type='number']::-webkit-outer-spin-button {
        -webkit-appearance: none; /* Remove default appearance */
        margin: 0; /* Remove default margin */
    }

    input[type='number'] {
        -moz-appearance: textfield; /* Firefox */
    }

    button.btn{

      display: block;
      height: 50px;
      font-size: 20px;
      padding: 10px;
      margin: 30px auto;
      width: 150px;
      cursor: pointer;
      border: 0.5px solid var(--secondary-color);
      outline: none;
      border-radius: 30px;
      background-color: #fff;
      color: var(--secondary-color);
      font-weight: 400;
      transition: 0.3s ease-in-out;
      position: relative;
      box-shadow: 3px 3px 1px -1px rgba(0, 0, 0, 0.15),
                  -3px -3px 5px -1px rgba(255, 255, 255, 0.7);  
      z-index: 3;      
}

  button.btn:hover{
      color: #fff;
      box-shadow: 6px 6px 1px -1px rgba(72,68,163,0.2),
                  -6px -6px 10px -1px rgba(255, 255, 255, 0.7);
      z-index: 4;
  }

  button.btn:hover::before{
      content: '';
      height: 100%;
      position: absolute;
      width: 100%;
      left: 0px;
      top: 0px;
      background-color: var(--secondary-color);
      color: #fff;
      animation: btn 0.3s linear forwards;
      border-radius: 30px;
      opacity: 1;
      z-index: -2;
  }

  @keyframes btn{
      0%{
          width: 0%;
      }
      50%{
          width: 50%;
      }
      100%{
          width: 100%;
      }
  }


  .last{
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .last h3{
    margin-right: 20px;
  }

  .row{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 130px;
}

.row div p:nth-child(1){
    font-weight: 600;
}

.lastdate{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}

.lastdate h3{
  font-size: 15px;
  margin-right: 20px;
}


    </style>
  </head>
  <body>
    <div class="navbar1">
        <div class="title">
            <a href="{% url "homepage" %}" class="lo">
              <img src="{% static "IITI_Logo.png" %}" class="logo">
              <h3>IIT Indore</h3>
            </a>
        </div>
        <div class="links">
            <ul>
                <li><a href="{% url "index" %}">New Project Deal</a></li>
                <li><a href="{% url "project_list" %}" class="active">Project Deals</a></li>
                <li><a href="{% url "logout" %}">Logout</a></li>
            </ul>
        </div>
    </div>

    <div class="navbar2">
        <div class="ham">
          <p><i class="fa-solid fa-bars"></i></p>
        </div>
        <div class="title">
          <a href="{% url "index" %}" class="lo">
            <img src="{% static "IITI_Logo.png" %}" class="logo">
            <h3>IIT Indore</h3>
          </a>
      </div>
    </div>
    <div class="side-bar">
        <div id="close"><i class="fa-solid fa-xmark"></i></div>
        <ul>
            <li><a href="{% url "index" %}">New Project Deal</a></li>
            <li><a href="{% url "project_list" %}" class="active">Project Deals</a></li>
            <li><a href="{% url "logout" %}">Logout</a></li>
        </ul>
    </div>
    <div class="mtitle">
        <div class="mbtn">
          <a href="{% url 'mastersheet' project_id=existing_project.id  %}">
                <button type="button">Mastersheet</button>
            </a> 
        </div>
         <div class="mbtn">
          <a href="{% url 'UCR_navigation' project_id=existing_project.id  %}">
            <button type="button">UCR</button>
        </a>
        </div>
         <div class="mbtn">
          <a href="{% url 'UCNR_navigation' project_id=existing_project.id  %}">
            <button type="button">UCNR</button>
        </a>
        </div>
    </div>
<div id='print'>
    <div class="body">
        <h2  style='font-size:25px'>REQUEST FOR ANNUAL INSTALMENT WITH UP-TO-DATE STATEMENT OF EXPENDITURE</h2>
        <table>
            <tr>
                <th>1</th>
                <th>Dated</th>
                <td><input type='date' name='soe_dated' id='soe_dated'></td>
            </tr>
            <tr>
                <th>2</th>
                <th>SERB Sanction Order No</th>
                <td>{{existing_project.Project_Fellowship_No}}</td>
            </tr>
            <tr>
                <th>3</th>
                <th>Name of the PI</th>
                <td>{{existing_project.PI_of_Project}}</td>
            </tr>
            <tr>
                <th>4</th>
                <th>Total Project Cost</th>
                <td id="total_funds_sanctioned_all_years" name="total_funds_sanctioned_all_years"></td>
            </tr>
            <tr>
                <th>4</th>
                <th>Revised Project Cost</th>
                <td><input name='revised_project_cost'  id="projectCost" type='number' placeholder='(specify if applicable)'></td>
            </tr>
            <tr>
                <th>5</th>
                <th>Date of Project Commencement</th>
                <td>{{existing_project.Project_Start_Date}}</td>
            </tr>
        </table>

        <h2 style='font-size:27px'>Statement of Expenditure (during financial year: {{financialYearStartYear}}-{{financialYearStartYear|add:1}})</h2>
        <br></br>
        <input type="text" id="projectDescription">

        <table id="expenditureTable">
            <thead>
                <tr>
                    <th>Month & Year</th>
                    <th>Expenditure incurred</th>
                    <th>Month & Year</th>
                    <th>Expenditure incurred/committed</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Apr-{{financialYearStartYear}}</td>
                    <td>{{monthwise_exp.total_Apr}}</td>
                    <td>Oct-{{financialYearStartYear}}</td>
                    <td>{{monthwise_exp.total_Oct}}</td>
                </tr>
                <tr>
                    <td>May-{{financialYearStartYear}}</td>
                    <td>{{monthwise_exp.total_May}}</td>
                    <td>Nov-{{financialYearStartYear}}</td>
                    <td>{{monthwise_exp.total_Nov}}</td>
                </tr>
                <tr>
                    <td>Jun-{{financialYearStartYear}}</td>
                    <td>{{monthwise_exp.total_Jun}}</td>
                    <td>Dec-{{financialYearStartYear}}</td>
                    <td>{{monthwise_exp.total_Dec}}</td>
                </tr>
                <tr>
                    <td>Jul-{{financialYearStartYear}}</td>
                    <td>{{monthwise_exp.total_Jul}}</td>
                    <td>Jan-{{financialYearStartYear|add:1}}</td>
                    <td>{{monthwise_exp.total_Jan}}</td>
                </tr>
                <tr>
                    <td>Aug-{{financialYearStartYear}}</td>
                    <td>{{monthwise_exp.total_Aug}}</td>
                    <td>Feb-{{financialYearStartYear|add:1}}</td>
                    <td>{{monthwise_exp.total_Feb}}</td>
                </tr>
                <tr>
                    <td>Sep-{{financialYearStartYear}}</td>
                    <td>{{monthwise_exp.total_Sep}}</td>
                    <td>Mar-{{financialYearStartYear|add:1}}</td>
                    <td>{{monthwise_exp.total_Mar}}</td>
                </tr>
                <tr>
                    <td colspan="3" style="text-align:center;"><strong>TOTAL</strong></td>
                    <td><strong>{{monthwise_exp.total_expenses}}</strong></td>
                </tr>
            </tbody>
        </table>

        <table style="max-width:200px">
            <thead>
                <tr>
                    <th>Financial Years</th>
                    <th colspan="5" >Sanctioned Amount in each year</th>
                </tr>
            </thead>
            <tbody>
              {% for year,grant in zipped_data_2 %}
                <tr>
                  <td>{{year}}</td>
                  <td colspan="5" class="grant">{{grant}}</td>
                </tr>
              {% endfor %}
              <tr>
                    <td>Interest, if any</td>
                    <td><input type='number' name='interest_if_any1' id='interest_if_any1' placeholder="Specify if any"></td>
                    <td><input type='number' name='interest_if_any2' id='interest_if_any2' placeholder="Specify if any"></td>
                    <td><input type='number' name='interest_if_any3' id='interest_if_any3' placeholder="Specify if any"></td>
                    <td><input type='number' name='interest_if_any4' id='interest_if_any4' placeholder="Specify if any"></td>
                    <td><input type='number' name='interest_if_any5' id='interest_if_any5' placeholder="Specify if any"></td>
                </tr>
                <tr>
                  <td>Refund, if any</td>
                  <td><input type='number' name='refund_if_any1' id='refund_if_any1' placeholder="Refund Amount if any"></td>
                  <td><input type='number' name='refund_if_any2' id='refund_if_any2' placeholder="Refund Amount if any"></td>
                  <td><input type='number' name='refund_if_any3' id='refund_if_any3' placeholder="Refund Amount if any"></td>
                  <td><input type='number' name='refund_if_any4' id='refund_if_any4' placeholder="Refund Amount if any"></td>
                  <td><input type='number' name='refund_if_any5' id='refund_if_any5' placeholder="Refund Amount if any"></td>
                </tr>
                <tr>
                    <td>Total</td>
                    <td colspan="5" id="total_grant_with_interest_an_refund" name="total_grant_with_interest_an_refund"></td>
                </tr>
            </tbody>
        </table>

        <h2>Statement of Expenditure</h2>

        {% comment %} <h2>Project Information</h2> {% endcomment %}
        <div class="side-by-side overflow">

          <!-- <div class="overflow"> -->
            <table class="table1" id="data-table">
                <thead>
                    <tr>
                        <th rowspan="2">S.No.</th>
                        <th rowspan="2">Budget Head</th>
                        <th colspan="{{ financial_years|length|add:1 }}">Sanctioned Amount Rs.</th>
                       
                    </tr>
                    <tr>
                      {% for year in financial_years %}
                        <th  style="display: none;" class="column-names" id='years'>{{ year }}</th>
                      {% endfor %}
                      <th   class="column-names">Funds Sanctioned</th>
                    </tr>
                  </thead>
                <tbody>
                    {% for period, budget_head in zipped_data %}
                    <tr>
                      <td>{{ period }}</td>
                      <td contenteditable="true" id="text-{{period}}"> {{ budget_head }}</td>
                      
                      
                      {% for table_key, sum_data in tablesdata.items %}
            
                      <td  style="display: none;" contenteditable="false" id="1-row-{{ period }}-col-{{table_key}}" class="1-row-{{ period }}">{{sum_data.period_Grant_Amount}}</td>
                      
                      
                      {% endfor %}
                      <td contenteditable="false" id="total-{{ period }}">0</td>
                    </tr>
                  {% endfor %}
                
                  <td id="total_no">*</td>
                    <td>Total</td>
                    {% for table_key, sum_data in tablesdata.items %}
                      <td  style="display: none;" id="total-grant-{{forloop.counter}}"></td>
                    {% endfor %}
                    <td id="total_funds_granted_all_years" name="total_funds_granted_all_years"></td>
                  </tr>
                </tbody>
              </table>
              
              <table class="table0" id="data-table0" style="min-width:15vw; min-height:65vh">

                <thead>
                    <tr>
                        
                      <th >Released Amount Rs.</th>
                      
                      
                    </tr>
                  
                    <tr>
                    
                      {% for year in financial_years %}
                        <th style="display: none;"  class="column-names">{{ year }}</th>
                      {% endfor %}
                      <th  class="column-names">Funds Released</th>
          
                    </tr>
                </thead>
          
                <tbody>
                    {% for period in period_range %}
                    <tr>
          
                      {% for table_key, sum_data in tablesdata1.items %}
          
                      <td style="display: none;"  contenteditable="false" id="0-row-{{ period }}-col-{{table_key}}" class="0-row-{{ period }}">0</td>
          
                      {% endfor %}
                    
                      <td contenteditable="false" id="sanction-total-{{ period }}">0</td>
                    
          
                    </tr>
                  {% endfor %}
                </tbody>
          
                <tbody>
                  {% for table_key, sum_data in tablesdata.items %}
                          <td style="display: none;"  id="total-sanction-{{forloop.counter}}"></td>
                  {% endfor %}
                      <td id="total_funds_sanctioned_all_years" name="total_funds_sanctioned_all_years"></td>
                </tbody>
          
              </table>
            
            
            
              <table class="table2" id="data-table1" style="min-height: 65vh;">
                <thead>
                    <!-- Parent row for "Sanctioned Amount Rs." -->
                    
                    <tr>
                        
                      <th colspan="{{ financial_years|length|add:1 }}"  >Expenditure Amount Rs.</th>
                      <th rowspan="2"  style="display: none;"  >Committed Expenditure</th>
                      <th rowspan="2"  >Balance Amount</th>
                    </tr>
                    <!-- Subheader row for S.No., Budget Head, and financial years -->
                    <tr>
                     
                      <!-- Display financial years -->
                      {% for year in financial_years %}
                        <th  class="column-names">{{ year }}</th>
                      {% endfor %}
                      <th  class="column-names">Expenditure</th>
            
                    </tr>
                  </thead>
                 
                <tbody>
                  {% for period in period_range %}
                  <tr>
                  
                    
                    <!-- Add dynamic cells for each financial year -->
                    {% for table_key, sum_data in tablesdata1.items %}
            
                    <td contenteditable="false" id="2-row-{{ period }}-col-{{table_key}}" class="row-{{ period }}" style="padding-left: 50px; padding-right: 50px;"></td>
                  
                  
                    
                    {% endfor %}
                    <td contenteditable="true" id="2-row-{{period}}" class="2-row-{{period}}"></td>
                    <td  style="display: none;"  contenteditable="true" id="2-row-{{period}}-col-com" class="2-row1-{{period}}"></td>
                    {% comment %} <td contenteditable="true" id="2-row-{{period}}-col-{{l|add:2}}" class="2-row2-{{period}}"></td> {% endcomment %}
                    <td id="2-row-{{period}}-col-bal" class="2-row2-1"></td>
                    {% comment %} <td id="2-row-1-col-{{l|add:2}}" class="2-row2-1"><input type='number' name='2-row-{{period}}-col-101-{{project_id}}' value={{2_row_1_col_101}}></td> {% endcomment %}
                  
            
                  </tr>
                {% endfor %}
              </tbody>
              <tbody>
              {% for table_key, sum_data in tablesdata.items %}
                      <td  id="total-expense-{{forloop.counter}}"></td>
                  {% endfor %}
                  <td  id="total_expenditure_all_years" name="total_expenditure_all_years">{{total_expenditure_all_years}}</td>
                    <td   style="display: none;" id='total_committed_expenditure_all_domains' name='total_committed_expenditure_all_domains' value={{total_committed_expenditure_all_domains}}></td>
                    <td class='total_balance_amount_all_domains' name='total_balance_amount_all_domains'></td>
                </tbody>
              </table>   
            <!-- </div>            -->
            </div>
            
            <div class="last">
              <h3>Amount to be Refunded/Received: </h3>
              <h3 id='total_balance_amount_all_domains_including_interests_excluding_refunds' name='total_balance_amount_all_domains_including_interests_excluding_refunds'></h3>
            </div>
            <div class="row">
              <div>
                  <div>
                  <p>
                    Name and Signature of Principal Investigator		
                  </p>
                  <p>
                    Date:		
              
                  </p>
                  </div>
              </div>
              <div>
                  <div>
                  <p>
                    Name and Signature of Competent Financial Authority		
              
                  </p>
                  <p>
                    Date:		
                  
                  </p>
                  </div>
              </div>
              <div>
                  <div>
                  <p>
                    Signature of Accounts Officer / AR / JR	
              
              
                  </p>
                  <p>
                      {% comment %} Name & Signature		 {% endcomment %}
              
                  </p>
                  </div>
              </div>
  
          </div>
                  <div class="lastdate">
                    <h3>Date of Start:</h3>
                    <h3>{{existing_project.Project_Start_Date}}</h3>
                  </div>
        <div class="note">
            <p><strong>Note:</strong></p>
            <ol>
                <li>Expenditure under the sanctioned heads, at any point of time, should not exceed funds allocated under that head, without prior approval of SERB i.e. Figures in Column (VII) should not exceed corresponding figures in Column (III)</li>
                <li>Utilization Certificate (Annexure III) for each financial year ending 31st March has to be enclosed along with the request for carry-forward permission to the next financial year.</li>
            </ol>
        </div>
    </div>
  </div>
</div>
<button onclick="saveInfo()">Save Info</button>
<button onclick="saveAsPdf()" class='btn'>Save as PDF</button>
{% comment %} <button onclick="convertToImageAndSave()">Convert to Image and Save</button> {% endcomment %}

    <footer>
        <div class="footer">
          <div class="info">
            <h4>IIT Indore</h4>
          </div>
          <div class="social">
            <ul>
              <li><a href="#"><i class="fa-brands fa-instagram"></i></a></li>
              <li><a href="#"><i class="fa-brands fa-linkedin"></i></a></li>
              <li><a href="#"><i class="fa-brands fa-twitter"></i></a></li>
              <li><a href="#"><i class="fa-brands fa-facebook"></i></a></li>
            </ul>
          </div>
          <div class="rights">
            <p><i class="fa-solid fa-copyright"></i> Copyrights reserved.</p>
          </div>
        </div>
        
      </footer>

       

    <script src="{% static 'script.js' %}"></script>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    {% comment %} <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script> {% endcomment %}
    {% comment %} <script href="{% static 'script.js' %}"></script> {% endcomment %}
    <script>

        function saveInput(){
          var inputDate = document.getElementById('soe_dated').value;
          sessionStorage.setItem('soe_dated_input',inputDate);
        }

        function loadInput(){
          var savedInput = sessionStorage.getItem('soe_dated_input');
          if(savedInput){
            document.getElementById('soe_dated').value = savedInput;
          }
        }

        window.addEventListener('load',loadInput);


        document.getElementById('soe_dated').addEventListener('change',saveInput);


        function saveAsPdf() {
            html2canvas(document.getElementById('print')).then(function (canvas) {
                var imgData = canvas.toDataURL('image/png');

                // Send the image data to the Django backend
                fetch('/save-as-pdf/', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                        'X-CSRFToken': getCookie('csrftoken'),  // Include CSRF token
                    },
                    body: JSON.stringify({ imageData: imgData }),
                })
                .then(response => response.json())
                .then(data => {
                    // The backend should respond with a download link
                    window.location.href = data.downloadLink;
                })
                .catch(error => console.error('Error:', error));
            });
        }
       
        // Helper function to get CSRF token from cookies
        function getCookie(name) {
            var cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                var cookies = document.cookie.split(';');
                for (var i = 0; i < cookies.length; i++) {
                    var cookie = cookies[i].trim();
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }
    </script>
    {% comment %} {{ project_id|json_script:"room-name"}}  {% endcomment %}
    <script>
      
        var project_id = {{ existing_project.id }};
        var tablesData = {{ tablesdata|safe }};
        // console.log(tablesData)
       //  console.log("1")
      
        // console.log(zipped_data)
        //  console.log(tablesData[1]['1_Grant_Amount'])
       
         // Function to get the value of a cell based on its id
         function getCellValue(cellId) {
           var parts = cellId.split('-');
           var tableKey = parts[0];
           var row = parts[2];
           var col = parts[4];
        //    console.log(row+"+"+col+"+"+tableKey)
           
           if (tablesData[col] && tablesData[col][row + '_Grant_Amount']) {
             return tablesData[col][row + '_Grant_Amount'];
           } else {
             return 'Not Found';
           }
         }
         function getCellValue0(cellId) {
          var parts = cellId.split('-');
          var tableKey = parts[0];
          var row = parts[2];
          var col = parts[4];
          
          if (tablesData[col] && tablesData[col][row + '_Sanctioned_Amount']) {
            return tablesData[col][row + '_Sanctioned_Amount'];
          } else {
            return 'Not found';
          }
    }
    function fillCells0() {
      var tableBody = document.getElementById('data-table0');
      var rows = tableBody.getElementsByTagName('tr');
      
  
      for (var i = 0; i < rows.length; i++) {
        var cells = rows[i].getElementsByTagName('td');
  
        for (var j = 0; j < cells.length - 3; j++) {
          var cellId = cells[j].id;
          cells[j].textContent = getCellValue0(cellId);
        }
      }
}
       
         // Function to fill the cells with data
         function fillCells() {
           var tableBody = document.getElementById('data-table');
           var rows = tableBody.getElementsByTagName('tr');
          
       
           for (var i = 0; i < rows.length; i++) {
             var cells = rows[i].getElementsByTagName('td');
       
             for (var j = 2; j < cells.length - 1; j++) {
               var cellId = cells[j].id;
               cells[j].textContent = getCellValue(cellId);
             }
           }
         }
         function getCellValue1(cellId) {
          var parts = cellId.split('-');
          var tableKey = parts[0];
          var row = parts[2];
          var col = parts[4];
          //   console.log(row+"+"+col)
         
    
        if (tablesData[col] && tablesData[col][row + '_expenses']) {
          return tablesData[col][row + '_expenses'];
        } else {
          return 'Not found';
        }
      }
      
      // Function to fill the cells with data
      function fillCells1() {
        var tableBody = document.getElementById('data-table1');
        var rows = tableBody.getElementsByTagName('tr');
        
        
        for (var i = 0; i < rows.length; i++) {
            var cells = rows[i].getElementsByTagName('td');
          
      
          for (var j = 0; j < cells.length - 3; j++) {
            var cellId = cells[j].id;
            cells[j].textContent = getCellValue1(cellId);
          }
        }
      }
         // Function to fill the cells with data
      
      // Function to fill the cells with data
      
      function fillCells2() {
      //   console.log(tablesData[1])
      var tableBody = document.getElementById('data-table');
      var rows = tableBody.getElementsByTagName('tr');
  //     console.log(rows)
      
      for (var i = 2; i < rows.length; i++) {
        var cells = rows[i].getElementsByTagName('td');
        
      
       for (var j = 1; j < cells.length - 1; j++) {
         var cellId = cells[j].id;
      
         // Check if the ID starts with "text-"
         if (cellId.startsWith('text-')) {
             var rowNumber = cellId.replace('text-', '');
          //    console.log(rowNumber)
      
           cells[j].textContent = tablesData[1][rowNumber + '_text'] || 'Not found';
         }
       }
      }
      }
         
      document.addEventListener('DOMContentLoaded', function() {
        console.log("pared datA3")
      console.log({{parsed_data3.interest_if_any1}})
      
      if ({{ details }}) {
        var projectDescription = document.getElementById('projectDescription');
        // var soe_dated = document.getElementById('soe_dated');
        var projectCostInput = document.getElementById('projectCost');
        var interestIfAny1Input = document.getElementById('interest_if_any1');
        var interestIfAny2Input = document.getElementById('interest_if_any2');
        var interestIfAny3Input = document.getElementById('interest_if_any3');
        var interestIfAny4Input = document.getElementById('interest_if_any4');
        var interestIfAny5Input = document.getElementById('interest_if_any5');
        var refundIfAny1Input = document.getElementById('refund_if_any1');
        var refundIfAny2Input = document.getElementById('refund_if_any2');
        var refundIfAny3Input = document.getElementById('refund_if_any3');
        var refundIfAny4Input = document.getElementById('refund_if_any4');
        var refundIfAny5Input = document.getElementById('refund_if_any5');

        // Assuming parsed_data3 contains the project cost and refund/interest values sent from the backend
       // soe_dated.value = "{{parsed_data3.soe_dated}}";
        projectDescription.value = "{{ parsed_data3.projectDescription }}";
        projectCostInput.value = "{{ parsed_data3.projectCost }}";
        interestIfAny1Input.value = "{{ parsed_data3.interest_if_any1 }}";
        interestIfAny2Input.value = "{{ parsed_data3.interest_if_any2 }}";
        interestIfAny3Input.value = "{{ parsed_data3.interest_if_any3 }}";
        interestIfAny4Input.value = "{{ parsed_data3.interest_if_any4 }}";
        interestIfAny5Input.value = "{{ parsed_data3.interest_if_any5 }}";
        refundIfAny1Input.value = "{{ parsed_data3.refund_if_any1 }}";
        refundIfAny2Input.value = "{{ parsed_data3.refund_if_any2 }}";
        refundIfAny3Input.value = "{{ parsed_data3.refund_if_any3 }}";
        refundIfAny4Input.value = "{{ parsed_data3.refund_if_any4 }}";
        refundIfAny5Input.value = "{{ parsed_data3.refund_if_any5 }}";
    }
    else{
      console.log("else")
    }
    
        fillCells1();
        fillCells2();
        fillCells();
        fillCells0();
       
      
        var updateButton = document.getElementById('update-button');
        var tableData = Array.from({ length: 7 }, () => Array(3).fill(0));  // Initialize as a 6x3 matrix of zeros
     //    console.log("called")
        updateTotalCell();
      //   console.log("called")
      
        });
       
        function sendToServer(data, project_id) {
        //   console.log(JSON.stringify(data));
          fetch(`/save_tables_to_file/${project_id}/`, {
              method: 'POST',
              headers: {
                  'Content-Type': 'application/json',
                  'X-CSRFToken': getCookie('csrftoken')
              },
              body: JSON.stringify(data)
          })
          .then(response => response.json())
          .then(result => {
        //       console.log(result);
              // Handle success or error as needed
          })
          .catch(error => {
              console.error('Error:', error);
          });
        }   
      
        let n = {{ budget_heads|length }};
    //     console.log("n",n)
        function updateTotalCell() {
          for(let j=1;j<=n;j++){
          var totalCell = document.getElementById(`total-${j}`);
          var totalCell_sanction = document.getElementById(`sanction-total-${j}`);
          
      
          var totalCell1 = document.getElementById(`2-row-${j}`);
        
          if (totalCell) {
            // Get the values from cells with the 'sum-cell' class and calculate the sum
            var sumCells = document.getElementsByClassName(`1-row-${j}`); 
            var sum = 0;
      
            for (var i = 0; i < sumCells.length; i++) {
              var cellValue = parseFloat(sumCells[i].textContent) || 0;
              sum += cellValue;
            }
      
            // Update the "Total" cell
            totalCell.textContent = sum;
          }
          if (totalCell_sanction) {
            var sumCells_sanction = document.getElementsByClassName(`0-row-${j}`); 
            
            var sum_sanction = 0;

            for (var i = 0; i < sumCells.length; i++) {
              var cellValue_sanction = parseFloat(sumCells_sanction[i].textContent) || 0;
              sum_sanction += cellValue_sanction;
            }
            totalCell_sanction.textContent = sum_sanction;
        }
       //    console.log(totalCell1)
          if (totalCell1) {
            // Get the values from cells with the 'sum-cell' class and calculate the sum
            var sumCells = document.getElementsByClassName(`row-${j}`);
           
            var sum = 0;
      
            for (var i = 0; i < sumCells.length; i++) {
              var cellValue = parseFloat(sumCells[i].textContent) || 0;
              sum += cellValue;
            }
         //   console.log(sum)
            // Update the "Total" cell
            totalCell1.textContent = sum;
          }
        }
        }
        // Function to get CSRF token from cookies
        function getCookie(name) {
          var cookieValue = null;
          if (document.cookie && document.cookie !== '') {
            var cookies = document.cookie.split(';');
            for (var i = 0; i < cookies.length; i++) {
              var cookie = cookies[i].trim();
              if (cookie.substring(0, name.length + 1) === (name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
              }
            }
          }
          return cookieValue;
        }
      
      
      </script>
      
      <script>
      
       // const project_id = JSON.parse(document.getElementById('room-name').textContent);
        // alert('project_id',project_id);
      
          document.addEventListener('DOMContentLoaded',function(){
           

           
      
            let n = {{ budget_heads|length }};
            {% comment %} console.log('n start',n); {% endcomment %}
                  
            var columns = document.getElementById('years');
            {% comment %} console.log('columns length',years.length,",",columns); {% endcomment %}
            var values={};
            var sanctions = {};
            var expenses={};
            var sum_yearwise = 0;
            var sanction_sum_yearwise = 0;
            var grant_sum_yearwise = 0;
            var expense_sum_yearwise = 0;
            for(let j=1;j<years.length+1;j++){
              values[`values${j}`] = [];
              sanctions[`sanctions${j}`] = [];
              expenses[`expenses${j}`]=[];
              for(let i=1;i<=n;i++){
                var domaingrants = document.getElementById(`1-row-${i}-col-${j}`);
                var domainsanctions = document.getElementById(`0-row-${i}-col-${j}`);
                var domainexpenses = document.getElementById(`2-row-${i}-col-${j}`);
                if(domaingrants){
                  var value = domaingrants.textContent;
                  values[`values${j}`].push(value);
                }
                if(domainsanctions){
                  var sanction = domainsanctions.textContent;
                  sanctions[`sanctions${j}`].push(sanction);
                }
                if(domainexpenses){
                  var expense = domainexpenses.textContent;
                  expenses[`expenses${j}`].push(expense);
                }
              }
      
              var total_grants_yearwise = document.getElementById(`total-grant-${j}`);
              var total_expenses_yearwise = document.getElementById(`total-expense-${j}`);
              var total_sanctions_yearwise = document.getElementById(`total-sanction-${j}`);
              var sum = 0;var expense_sum = 0;var sanction_sum = 0;
              
              for(var i=1;i<values[`values${j}`].length+1;i++){
                var num = parseFloat(values[`values${j}`][i-1])||0;
                sum+=num;

                var sanction_num = parseFloat(sanctions[`sanctions${j}`][i-1])||0;
                  sanction_sum += sanction_num;
      
                var expense_num = parseFloat(expenses[`expenses${j}`][i-1])||0;
                expense_sum += expense_num;
              }
              total_grants_yearwise.textContent = sum;
              sum_yearwise += sum;
              grant_sum_yearwise += sum;

              total_sanctions_yearwise.textContent = sanction_sum;
              sanction_sum_yearwise += sanction_sum;
      
              total_expenses_yearwise.textContent = expense_sum;
              expense_sum_yearwise += expense_sum;
            }
            var total_funds_granted_all_years = document.getElementById('total_funds_granted_all_years');
            console.log(total_funds_granted_all_years)
          total_funds_granted_all_years.textContent = sum_yearwise;
      
          
          var total_expenditure_all_years = document.getElementById('total_expenditure_all_years');
          total_expenditure_all_years.textContent = expense_sum_yearwise;
          
          for(var i=0;i<total_funds_sanctioned_all_years.length;i++){
            total_funds_sanctioned_all_years[i].textContent = sanction_sum_yearwise;
          }
          {% comment %} var total_funds_sanctioned_all_years = document.getElementById('total_funds_sanctioned_all_years');
          total_funds_sanctioned_all_years.textContent = grant_sum_yearwise; {% endcomment %}
             
              
             {% comment %} var total_expenditure_all_years = document.getElementById('total_expenditure_all_years');
             total_expenditure_all_years.textContent = expense_sum_yearwise;
       {% endcomment %}

            var total_grant_with_interest_an_refund = document.getElementById("total_grant_with_interest_an_refund");
            var interest_if_any1 = document.getElementById("interest_if_any1").value || 0;
            var interest_if_any2 = document.getElementById("interest_if_any2").value || 0;
            var interest_if_any3 = document.getElementById("interest_if_any3").value || 0;
            var interest_if_any4 = document.getElementById("interest_if_any4").value || 0;
            var interest_if_any5 = document.getElementById("interest_if_any5").value || 0;
            var refund_if_any1 = document.getElementById("refund_if_any1").value || 0;
            var refund_if_any2 = document.getElementById("refund_if_any2").value || 0;
            var refund_if_any3 = document.getElementById("refund_if_any3").value || 0;
            var refund_if_any4 = document.getElementById("refund_if_any4").value || 0;
            var refund_if_any5 = document.getElementById("refund_if_any5").value || 0;

            var final_total = parseFloat(grant_sum_yearwise)+parseFloat(interest_if_any1)+parseFloat(interest_if_any2)+parseFloat(interest_if_any3)+parseFloat(interest_if_any4)+parseFloat(interest_if_any5) - (parseFloat(refund_if_any1)+parseFloat(refund_if_any2)+parseFloat(refund_if_any3)+parseFloat(refund_if_any4)+parseFloat(refund_if_any5));
            // console.log("final total",final_total)
            
            total_grant_with_interest_an_refund.textContent = final_total

            var total_balance_amount_all_domains_including_interests_excluding_refunds = document.getElementById('total_balance_amount_all_domains_including_interests_excluding_refunds');
            var amount_to_be_refunded = parseFloat(final_total)-parseFloat(expense_sum_yearwise);
            console.log("amount to be: ",amount_to_be_refunded);
            total_balance_amount_all_domains_including_interests_excluding_refunds.textContent = amount_to_be_refunded;


      
            initializeZero(project_id);
      
             loadValues(project_id);
      
             var total_balance_amount = 0;
             for(let i=1;i<=n;i++){
              var balance_amount_row = 0;
              var totalFundsEle = document.getElementById(`total-${i}`);
              var totalFunds = parseInt(totalFundsEle.innerHTML)||0;
      
             {% comment %} console.log('totalFunds',totalFunds); {% endcomment %}
      
              var totalExpEle = document.getElementById(`2-row-${i}`);
              var totalExp = parseInt(totalExpEle.innerHTML)||0;
      
              {% comment %} console.log('totalEXp',totalExp);
       {% endcomment %}
             {% comment %} console.log('before committed_expenditure');
              var committedExpEle = document.getElementById(`2-row-${i}-col-com`);
              var committedExp = committedExpEle ? parseInt(committedExpEle.textContent) || 0 : 0;
              console.log('after committed_expenditure',committedExp);
      
              console.log('committedExp',committedExp); {% endcomment %}
      
            //  balance_amount_row = totalFunds-totalExp-committedExp;
              balance_amount_row = totalFunds-totalExp;
      
           //   console.log('balance',balance_amount_row);
      
             // var inputField = document.querySelector(`input[name$="2-row-${i}-col-101-${project_id}"]`);
              var inputField = document.getElementById(`2-row-${i}-col-bal`);
              //<td id="2-row-{{period}}-col-bal" class="2-row2-1"></td>
             // var inputField = document.querySelector(`input[name$="2-row-${i}-col-101-${project_id}"]`);
      
              if(inputField){
                inputField.textContent = balance_amount_row || '0';
              }
      
              total_balance_amount+=balance_amount_row;
            }
      
            var total_balance_amount_all_domains = document.getElementsByClassName('total_balance_amount_all_domains');
            // console.log(total_balance_amount_all_domains.length)
            for(var i=0;i<total_balance_amount_all_domains.length;i++){
              // console.log('i',i)
              total_balance_amount_all_domains[i].textContent = total_balance_amount;
            }
            
            
          //   calculateTotalBalance();
  
      
          });
      
          {% comment %} function updation(projectId){
      
            let n = {{ budget_heads|length }};
      
             var committed_expenditure_sum = 0;
             // console.log('updation called')
              for(let i=1;i<=n;i++){
                 var committed_expenditure = document.querySelector(`input[name$="2-row-${i}-col-100-${projectId}"]`);
                 if(committed_expenditure){
                   var num= parseInt(committed_expenditure.value)||0;
                   committed_expenditure_sum += num; 
                   localStorage.setItem(`committed_expenditure_${projectId}_${i}`,num);
                   //console.log('value',num);
                   // console.log('commited sum',committed_expenditure_sum);
                 }
              }
            
              var total_committed_expenditure_all_domains=document.getElementById('total_committed_expenditure_all_domains');
              total_committed_expenditure_all_domains.textContent = committed_expenditure_sum;
      
      
              for(let i=1;i<=n;i++){
                var balance_amount_row = 0;
                var totalFundsEle = document.getElementById(`total-${i}`);
                var totalFunds = parseInt(totalFundsEle.innerHTML)||0;
      
               console.log('totalFunds',totalFunds);
      
                var totalExpEle = document.getElementById(`2-row-${i}`);
                var totalExp = parseInt(totalExpEle.innerHTML)||0;
      
                console.log('totalEXp',totalExp);
      
                console.log('projectId', projectId);
                var committedExpEle = document.querySelector(`input[name$="2-row-${i}-col-100-${projectId}"]`);
                
                console.log('committedExpEle',committedExpEle);
      
                var committedExp = parseInt(committedExpEle.value)||0;
      
                console.log('committedExp',committedExp);
      
                balance_amount_row = totalFunds-totalExp-committedExp;
      
                console.log('balance',balance_amount_row);
      
                var inputField = document.querySelector(`input[name$="2-row-${i}-col-101-${projectId}"]`);
              
                if(inputField){
                  inputField.value = balance_amount_row || '0';
                }
      
              }
      
              calculateTotalBalance();
              
           } {% endcomment %}

          
          
      
          function calculateTotalBalance(){
            let n = {{ budget_heads|length }};
            var total_balance_amount = 0;
            for(let i=1;i<=n;i++){
             var balance_amount_row = 0;
             var totalFundsEle = document.getElementById(`total-${i}`);
             var totalFunds = parseInt(totalFundsEle.innerHTML)||0;
      
          //   console.log('totalFunds',totalFunds);
      
             var totalExpEle = document.getElementById(`2-row-${i}`);
             var totalExp = parseInt(totalExpEle.innerHTML)||0;
      
            //  console.log('totalEXp',totalExp);
      
            //  console.log('before committed_expenditure');
             var committedExpEle = document.getElementById(`2-row-${i}-col-com`);
             var committedExp = committedExpEle ? parseInt(committedExpEle.textContent) || 0 : 0;
            //  console.log('after committed_expenditure');
      
             // console.log('committedExp',committedExp);
      
             balance_amount_row = totalFunds-totalExp-committedExp;
      
            //  console.log('balance',balance_amount_row);
      
             var inputField = document.querySelector(`input[name$="2-row-${i}-col-101-${project_id}"]`);
      
             if(inputField){
               inputField.value = balance_amount_row || '0';
             }
      
             total_balance_amount+=balance_amount_row;
           }
      
           var total_balance_amount_all_domains = document.getElementById('total_balance_amount_all_domains');
           total_balance_amount_all_domains.textContent = total_balance_amount;
          }
            
            
          function initializeZero(project_id){
            var zero = '0';
            for(let i=0;i<7;i++){
              var inputField = document.querySelector(`input[name$="2-row-${i}-col-100-${project_id}"]`);
              if(inputField){
                inputField.value=zero;
              }
              // console.log('intitalised..');
            }
          }
      
          function loadValues(project_id){
            var committed_expenditure_sum = 0;
            for(let i=1;i<=n;i++){
              var storedValue = localStorage.getItem(`committed_expenditure_${project_id}_${i}`);
              var inputField = document.querySelector(`input[name$="2-row-${i}-col-100-${project_id}"]`);
          //     console.log()
           //    console.log('before inputfield');
              if(inputField){
                // Check if the stored value is not null or undefined
                var storedValueIsDefined = storedValue !== null && storedValue !== undefined;
      
                // Set the input value to the stored value if defined, otherwise set it to '0'
                inputField.value = storedValueIsDefined ? storedValue.trim() : '0';
             //    console.log('near inputField', inputField.value);
              }
           //    console.log('near inputField 2');
              if(storedValue){
                committed_expenditure_sum += parseInt(storedValue);
              }
            }
      
            var total_committed_expenditure_all_domains = document.getElementById('total_committed_expenditure_all_domains');
            total_committed_expenditure_all_domains.textContent = committed_expenditure_sum;
          }
    
    
      // Function to calculate total funds
      function calculateTotalFunds() {
          // Get all grant elements
          var grantElements = document.querySelectorAll('.grant');
          var total = 0;
  
          // Iterate through each grant element and add its value to the total
          grantElements.forEach(function(grantElement) {
              total += parseFloat(grantElement.textContent || grantElement.innerText);
          });
  
          // Get the interest element
          var interestElement = document.getElementById('interest_if_any');
  
          // Add interest, if any
          if (interestElement.value !== "") {
              total += parseFloat(interestElement.value);
          }
  
          // Set the total to the total_funds_sanctioned_all_years element
          var totalElement = document.getElementById('total_funds_sanctioned_all_years');
          totalElement.textContent = total;
         //  console.log("called")
         //  console.log(total)
      }
      //setInterval(calculateTotalFunds, 1000);
  
      // Get the interest input field
    //  var interestElement = document.getElementById('interest_if_any');
  //
    //  // Add keydown event listener to the interest input field
    //  interestElement.addEventListener('keydown', function(event) {
    //      // Check if the pressed key is Enter key (key code 13)
    //      if (event.keyCode === 13) {
    //          // Prevent the default form submission behavior
    //          event.preventDefault();
    //          // Calculate total funds when Enter key is pressed
    //          calculateTotalFunds();
    //      }
    //  });

      function saveInfo() {
        // Extracting specific information
        //var projectName = document.getElementById("projectName").value;
        var projectDescription = document.getElementById("projectDescription").value;
        console.log(projectDescription)
        var projectCost = document.getElementById("projectCost").value;
        var interest_if_any1 = document.getElementById("interest_if_any1").value;
        var interest_if_any2 = document.getElementById("interest_if_any2").value;
        var interest_if_any3 = document.getElementById("interest_if_any3").value;
        var interest_if_any4 = document.getElementById("interest_if_any4").value;
        var interest_if_any5 = document.getElementById("interest_if_any5").value;
        var refund_if_any1 = document.getElementById("refund_if_any1").value;
        var refund_if_any2 = document.getElementById("refund_if_any2").value;
        var refund_if_any3 = document.getElementById("refund_if_any3").value;
        var refund_if_any4 = document.getElementById("refund_if_any4").value;
        var refund_if_any5 = document.getElementById("refund_if_any5").value;

        var data = {
        //  projectName: document.getElementById("projectName").value,
          projectDescription: document.getElementById("projectDescription").value,
          projectCost: document.getElementById("projectCost").value,
          interest_if_any1: document.getElementById("interest_if_any1").value,
          interest_if_any2: document.getElementById("interest_if_any2").value,
          interest_if_any3: document.getElementById("interest_if_any3").value,
          interest_if_any4: document.getElementById("interest_if_any4").value,
          interest_if_any5: document.getElementById("interest_if_any5").value,
          refund_if_any1: document.getElementById("refund_if_any1").value,
          refund_if_any2: document.getElementById("refund_if_any2").value,
          refund_if_any3: document.getElementById("refund_if_any3").value,
          refund_if_any4: document.getElementById("refund_if_any4").value,
          refund_if_any5: document.getElementById("refund_if_any5").value
         // total_funds_sanctioned_all_years: document.getElementById("total_funds_sanctioned_all_years").value
      };


     

      

     // Assuming you have the project_id stored in a variable called projectId
var projectId = project_id;  // Replace '123' with the actual project ID

// Construct the URL with the project_id as a query parameter
var url = '/save_info/?project_id=' + projectId;
var csrftoken = document.cookie.match(/csrftoken=([^ ;]+)/)[1];

// Sending data to the backend using AJAX
fetch(`/save_info/${projectId}/`, {
    method: 'POST',
    headers: {
        'Content-Type': 'application/json',
        'X-CSRFToken': csrftoken 
    },
    body: JSON.stringify(data),
})
.then(response => {
    if (response.ok) {
        console.log('Info saved successfully.');
        // Do something after successful save if needed
    } else {
        console.error('Failed to save info.');
        // Handle error if needed
    }
})
.catch(error => {
    console.error('Error:', error);
    // Handle error if needed
});
      }

      
    
      

  </script>
  
  </body>
</html> 